<div class="container-fluid">
  <h1>Get Quote</h1>
  
  <div class="row mb-3">
    <div class="col-4">
      <label class="form-label">Selected currency:</label>
      <select class="form-select" [(ngModel)]="currency">
        <option selected value="USD">USD</option>
        <option value="BRL">BRL</option>
      </select>
    </div>

    <div class="col-4" style="margin-top: 30px !important">
      <button (click)="quote()" class="btn btn-primary">Refresh</button>
    </div>
    <div class="col-4">
      <label class="form-label">Result:</label>
      <input type="text" placeholder="Exchage" [(ngModel)]="exchange" readonly class="form-control" />
    </div>
  </div>
</div>
